
.button {
  display: inline-block;
  padding: 10px 20px;
  
  color: white;
  border: 1;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

