
// Colores
$primary-color: #fff;
$secondary-color: #4CA866;
$tertiary-color: #E4572E;
$quaternary-color: #F1DD7B;
$accent-color: #ffc107;


// Fuentes
$font-family: Arial, sans-serif;

// Tamaños
$font-size-base: 16px;
